{%extends "base.html" %}
{%block title%} Register {%endblock%}
{%block content%}
  <div class="d-flex flex-column container  justify-content-center my-5" >
    <h2 class="text-center"> Hello! </h2>
    <form  action="{% url 'logout_user' %}" method="get" id="log-out" >
      <button type="submit" class="btn btn-primary">Logout</button>
    </form>
    <form  action="{% url 'search' user.username %}" method="get" id="log-out" >
      <button type="submit" class="btn btn-primary">Search a room</button>
    </form>
  </div>
{%endblock%}
