{%extends "base.html" %}
{%block content%}
<form class="" action="" method="post">
  {% csrf_token %}
  <div class="d-flex align-items-center flex-column justify-content-center container" style="margin-top:10%">
    <label for="user-name-input" class="form-label">Username</label>
    <input class="input-group-text"  i="user_name" name="user-name" type="text" required label = "room name" size="20"><br>
    <button class="btn btn-primary" id="user-name-submit" type="submit"> Search a room </button>
  </div>
</form>
{%endblock%}
